<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>
<% Post.where(:user_id => @user.id).each do |p|%>
<p>
<%= link_to p.title, p  %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
