

<div id="pageHeader"><h1>Nyeste innlegg</h1>
				  

</div>

<% n = 0%>
<% @posts.each do |post| %>
<% user = User.find_by_id(post.user_id)%>
	<% if n == 0 %>
		<div id="firstPost">
			<div id="avatar"><img src="https://dl.dropbox.com/u/7238474/north/avatar.jpg" style="margin:5px 0 0 0;" alt="avatatPicture"/></div>
			<div class="heading"><h1><%= post.title.capitalize %></h1></div>
			<small><%= post.created_at.strftime("%d-%m-%Y") %></small>
			<small><i><%= link_to user.fname.capitalize + " " + user.lname.capitalize, user, :class => "author" %></i></small>
			<p><%= post.content.truncate(700)%></p>
			<p><%= link_to 'Les mer...', post %></p>
			<%= link_to 'edit', edit_post_path(post)%>
		</div>
		
		<div id="postBorder"></div>
	<% else %>
		<div id="splitViewPost">
			<div id="avatar"><img src="https://dl.dropbox.com/u/7238474/north/avatar.jpg" alt="avatatPicture"/></div>
			<div class="heading"><h3><%= post.title%></h3></div>
			<small><%= post.created_at.strftime("%d-%m-%Y") %></small>
			<small><i><%= link_to user.fname.capitalize + " " + user.lname.capitalize, user %></i></small>
			<p><%= post.content.truncate(200)%></p>
			<p><%= link_to 'Les mer...', post %></p>
			<%= link_to 'edit', edit_post_path(post)%>
		</div>
		<% if n.even?%>
		<div id="postBorder"></div>
		<% end %>
	<% end %>


	<%  n += 1%>
<% end %>

<div id="link">
<%= link_to 'New Post', new_post_path %>
</div>
