<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>
<% Post.where(:catgegory_id => @category.id).each do |p|%>
<p><%=link_to p.title, p%></p>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
